body {
    font-family: Titillium Web, sans-serif;
    font-weight: 400;
    color: #3d8f7d;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Main entry page */

img {
    width: 538px;
    height: 344px;
}

main {
    text-align: center;
}

.heading {
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 4vw;
    text-align: center;
}

.heading a {
    text-decoration: none;
    color: #3d8f7d;
    font-family: Titillium Web, sans-serif;
    font-weight: 900;
    font-size: 4vw;
}

.heading i {
    color: #f6cc7d;
}

.intro {
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.button {
    text-align: center;
    margin-top: 10px;
}

.button a {
    font-weight: 900;
    font-size: 1.7vw;
    text-decoration: none;
    color: #fff;
    border: 2px solid #3d8f7d;
    border-radius: 5%;
    background-color: #3d8f7d;
    padding: 2px 10px;
    cursor: pointer;
}

.button a:hover {
    color: #f6cc7d;
}

/* Game page */

/* header and navigation */

.hidden {
    display: none;
}

header {
    height: 100px;
}

#how-to-play {
    background-color: #f6cc7d;
    padding: 20px 50px;
    position: fixed;
    left: 250px;
    top: 50px;
    font-size: 1.5vw;
}

#how-to-play p {
    font-style: italic;
    font-weight: 900;
}

#close-how-to {
    position: fixed;
    top: 50px;
    right: 350px;
    font-size: 2.5vw;
    cursor: pointer;
}

#how-to {
    float: right;
    font-size: 1.3vw;
    font-weight: 900;
    padding: 10px 10px;
    background-color: #3d8f7d;
    color: #fff;
    text-align: center;
    margin: 30px 50px;
    cursor: pointer;
}

#how-to:hover {
    color: #f6cc7d;
}

/* navigation */

nav a {
    float: left;
    margin: 40px 50px;
    font-weight: 900;
    font-size: 1.3vw;
    text-decoration: none;
    color: #fff;
    background-color: #3d8f7d;
    border-radius: 5%;
    padding: 5px 15px;
}

nav a:hover {
    background-color: #3d8f7d;
    color: #f6cc7d;
}

/* Game area */

.game-area {
    text-align: center;
}

.questions h3 {
    font-size: 3vw;
    font-weight: 900;
}

.questions p {
    font-style: italic;
    margin-bottom: 20px;
}

.questions i {
    color: #f6cc7d;
}

.answers {
    display: inline-block;
    margin-bottom: 20px;
}

label.correct {
    background-color: #3d8f7d;
    color: white;
    padding: 0 10px;
}

label.incorrect {
    background-color: #f57558;
    color: white;
    padding: 0 10px;
}

#next {
    font-size: 1.3vw;
    border: 2px solid #3d8f7d;
    border-radius: 5%;
    background-color: #fff;
    color: #3d8f7d;
    margin: 10px;
    padding: 5px 10px;
    font-weight: 900;
}

#restart {
    font-size: 2vw;
    background-color: #f6cc7d;
    border: 2px solid #3d8f7d;
    border-radius: 5%;
    margin: 10px;
    padding: 10px 15px;
    font-weight: 900;
    color: #3d8f7d;
}

#next:hover,
#restart:hover {
    background-color: #3d8f7d;
    color: #f6cc7d;
}

/* Score area */

.score-area {
    text-align: center;
    margin-bottom: 50px;
}

.scores {
    font-weight: 900;
    color: #3d8f7d;
    font-size: 1.5vw;
    text-align: center;
    display: inline-block;
    margin: 10px 50px;
}

#right-score {
    color: #fff;
    border-radius: 5%;
    background-color: #3d8f7d;
    padding: 2px 10px;
}

#wrong-score {
    background-color: #f57558;
    border-radius: 5%;
    color: #fff;
    padding: 2px 10px;
}


/* Media queries */

/* For medium size screens from 992px and down */
@media screen and (max-width: 992px) {
    .heading {
        font-size: 6vw;
    }

    .button a {
        font-size: 3vw;
    }

    .scores {
        font-size: 2vw;
    }

    nav a {
        font-size: 2vw;
    }

    #next {
        font-size: 1.7vw;
    }
}

/* For medium to small screens (tablets) from 890px and down */
@media screen and (max-width: 890px) {
    img {
        width: 438px;
        height: 254px;
    }

    .intro {
        margin: 0px 70px;
    }

    #how-to,
    #high-score {
        font-size: 2vw;
    }
}


/* For small screens (tablets) from 576px and down */    
@media screen and (max-width: 576px) {
    img {
        width: 438px;
        height: 244px;
    }

    .heading {
        font-size: 6vw;
    }

    .intro {
        font-size: 3.5vw;
        margin: 5px 75px;
    }

    .button {
        margin-top: 30px;
    }
    
    .button a {
        font-size: 3.5vw;
    }

    #how-to,
    #high-score {
        font-size: 3vw;
    }
}

/* For smaller screens (mobile) from 450px and down */
@media screen and (max-width: 450px) {
    .questions h3 {
        font-size: 6vw;
    }

    img {
        width: 338px;
        height: 230px;
    }

    .heading {
        font-size: 8vw;
    }

    .intro {
        font-size: 4.5vw;
    }

    .button a {
        font-size: 4.5vw;
    }

    #next {
        font-size: 3vw;
    }
    
    .scores {
        font-size: 3.5vw;
        margin: 10px 10px;
    }

    nav a {
        font-size: 4vw;
    }
}

/* For extra small screens (mobile) from 350px and down */
@media screen and (max-width: 350px) {
    .heading {
        font-size: 9.5vw;
    }

    .button a {
        font-size: 5.5vw;
    }

    .scores {
        font-size: 4.3vw;
    }
}

input.disabled,
label.disabled {
    pointer-events: none;
}