body {
    font-family: Titillium Web, sans-serif;
    font-weight: 400;
    color: #3d8f7d;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    width: 588px;
    height: 394px;
}

main {
    text-align: center;
}

.heading {
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 4vw;
    text-align: center;
}

.heading a {
    text-decoration: none;
    color: #3d8f7d;
    font-family: Titillium Web, sans-serif;
    font-weight: 900;
    font-size: 4vw;
}

.heading i {
    color: #f6cc7d;
}

nav a {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.5vw;
    text-decoration: none;
    color: #fff;
    float: right;
    margin-right: 50px;
    border: 2px solid #3d8f7d;
    background-color: #3d8f7d;
    border-radius: 5%;
    padding: 2px 10px;
}

nav a:hover {
    color: #3d8f7d;
    background-color: #fff;
}

.intro {
    font-weight: 400;
    text-align: center;
}

.scores {
    font-size: 2vw;
    text-align: center;
}

.button {
    text-align: center;
    margin-top: 10px;
}

.button a {
    font-weight: 900;
    font-size: 1.5vw;
    text-decoration: none;
    color: #fff;
    border: 2px solid #3d8f7d;
    border-radius: 5%;
    background-color: #3d8f7d;
    padding: 2px 10px;
}

.button a:hover {
    color: #3d8f7d;
    background-color: #fff;
}
