@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Permanent+Marker&family=Shadows+Into+Light+Two&display=swap');

body {
    font-family: Shadows Into Light Two, sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Main entry page */

img {
    width: 30%
}

main {
    text-align: center;
}

.heading {
    font-family: Permanent Marker, sans-serif;
    letter-spacing: 3px;
    font-size: 6vw;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.heading a {
    text-decoration: none;
    color: #fff;
    font-family: Permanent Marker, sans-serif;
    font-weight: 900;
    font-size: 4vw;
}

.heading i {
    color: #fff;
}

.intro {
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8vw;
}

.button {
    text-align: center;
    margin-top: 10px;
}

.button a {
    font-family: Permanent Marker, sans-serif;
    font-weight: 900;
    font-size: 2.8vw;
    text-decoration: none;
    border-radius: 5%;
    color: #fff;
    border: 2px solid #ab8ca6;
    background-color: #ab8ca6;
    padding: 0px 50px;
    cursor: pointer;
}

/* Game page */

/* header and navigation */

header {
    height: 100px;
}

#how-to-play {
    font-weight: 500;
    background-color: #333;
    padding: 20px 50px;
    position: fixed;
    left: 150px;
    top: 120px;
    font-size: 1.2vw;
}

#how-to-play p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5vw;
}

#close-how-to {
    position: fixed;
    top: 130px;
    right: 230px;
    font-size: 2.5vw;
    cursor: pointer;
}

#how-to {
    font-family: Permanent Marker, sans-serif;
    float: right;
    border-radius: 5%;
    font-size: 1.7vw;
    font-weight: 900;
    padding: 10px 10px;
    background-color: #ab8ca6;
    color: #fff;
    text-align: center;
    margin: 30px 50px;
    cursor: pointer;
}

/* hover effects for buttons */

#how-to:hover,
nav a:hover,
.button a:hover,
#next:hover,
#restart:hover {
    box-shadow: 5px 5px 5px #333;
    color: #333;
}

/* navigation */

nav a {
    float: left;
    margin: 40px 50px;
    font-weight: 900;
    font-size: 1.3vw;
    text-decoration: none;
    color: #fff;
    background-color: #ab8ca6;
    border-radius: 5%;
    padding: 5px 15px;
}

/* Game area */

.game-area {
    text-align: center;
}

.questions h3 {
    font-family: Shadows Into Light Two, sans-serif;
    font-size: 3vw;
    text-transform: uppercase;
}

.questions p {
    font-family: Shadows Into Light Two, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 50px;
}

.answers {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.7vw;
    display: inline-block;
    margin-bottom: 10px;
}

label.correct {
    background-color: #7fbf7f;
    color: white;
    padding: 0 10px;
}

label.incorrect {
    background-color: #ff7f7f;
    color: white;
    padding: 0 10px;
}

#next {
    font-family: Permanent Marker, sans-serif;
    font-size: 1.8vw;
    border: 2px solid #ab8ca6;
    border-radius: 5%;
    background-color: #ab8ca6;
    color: #fff;
    margin: 10px;
    padding: 5px 50px;
}

#restart {
    font-family: Permanent Marker, sans-serif;
    font-size: 2vw;
    border-radius: 5%;
    background-color: #fff;
    color: #333;
    margin: 10px;
    padding: 5px 50px;
}


/* Score area */

.score-area {
    text-align: center;
}

.scores {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 2vw;
    display: inline-block;
    margin: 10px 100px;
}

#right-score {
    font-weight: bold;
    color: #333;
    border-radius: 5%;
    background-color: #7fbf7f;
    padding: 2px 10px;
}

#wrong-score {
    font-weight: bold;
    background-color: #ff7f7f;
    border-radius: 5%;
    color: #333;
    padding: 2px 10px;
}


/* Media queries */

/* For large size screens from 1200px and down */
@media screen and (max-width: 1200px) {
    #how-to-play {
        top: 200px;
    }

    #close-how-to {
        top: 210px;
        right: 200px;
    }
}

/* For large to medium size screens from 992px and down */
@media screen and (max-width: 992px) {
    .heading {
        font-size: 6vw;
    }

    .button a {
        font-size: 3vw;
    }

    .scores {
        font-size: 2vw;
    }

    nav a {
        font-size: 2vw;
    }

    #next {
        font-size: 1.7vw;
    }

    #how-to-play {
        left: 0;
        top: 150px;
        font-size: 2vw;
    }

    #close-how-to {
        top: 160px;
        right: 30px;
        font-size: 3vw;
    }
}

/* For medium screens (tablets) from 890px and down */
@media screen and (max-width: 890px) {
    img {
        width: 438px;
        height: 254px;
    }

    .intro {
        font-size: 3vw;
    }

    #how-to,
    #high-score {
        font-size: 2vw;
    }

    .button a {
        font-size: 5vw;
        padding: 0px 70px;
        margin: 30px;
    }

    .questions p {
        margin-bottom: 30px;
    }

    .answers {
        font-size: 2.3vw;
    }
}

/* For medium to small screens (tablets) from 750px and down */    
@media screen and (max-width: 750px) {
    #how-to-play {
        top: 150px;
        font-size: 2.5vw;
    }

    #close-how-to {
        top: 150px;
        right: 50px;
        font-size: 4vw;
    }

    #how-to-play p {
        font-size: 3vw;
    }

}

/* For small screens (tablets) from 576px and down */    
@media screen and (max-width: 576px) {
    img {
        width: 438px;
        height: 244px;
    }

    .heading {
        font-size: 6vw;
    }

    .intro {
        font-size: 3.5vw;
        margin: 5px 75px;
    }

    .button {
        margin-top: 30px;
    }
    
    .button a {
        font-size: 3.5vw;
    }

    #how-to {
        font-size: 3vw;
        margin: 20px 30px;
    }

    #how-to-play {
        top: 130px;
        font-size: 2.2vw;
        padding: 10px 20px;
    }

    #close-how-to {
        top: 140px;
        right: 30px;
    }

    nav a {
        font-size: 4vw;
        margin: 25px 30px;
    }

    .questions h3 {
        font-size: 5vw;
        margin: 0 20px;
    }

    .questions p {
        margin-bottom: 10px;
    }
}

/* For smaller screens (mobile) from 450px and down */
@media screen and (max-width: 450px) {

    img {
        width: 338px;
        height: 230px;
    }

    .heading {
        font-size: 8vw;
    }

    .intro {
        font-size: 4.5vw;
    }

    .button a {
        font-size: 7vw;
        padding: 10px 70px;
    }

    #next,
    #restart {
        font-size: 3vw;
    }
    
    .scores {
        font-size: 3.5vw;
        margin: 10px 10px;
    }

    nav a {
        font-size: 4vw;
        margin: 20px 40px;
    }

    #how-to {
        margin: 15px 40px;
    }

    .answers {
        font-size: 3.5vw;
        margin-bottom: 40px;
    }

    #how-to-play {
        font-size: 3vw;
        top: 100px;
        left: 0;
    }

    #close-how-to {
        font-size: 6vw;
        top: 100px;
    }

}

/* For extra small screens (mobile) from 350px and down */
@media screen and (max-width: 350px) {
    .heading {
        font-size: 9vw;
        margin: 0 10px;
    }

    .intro {
        font-size: 6vw;
        margin: 5px 10px;
    }

    .scores {
        font-size: 4.3vw;
    }

    #how-to {
        margin: 20px 20px;
        font-size: 4vw;
    }

    nav a {
        margin: 20px 20px;
        padding: 10px 15px;
    }

    .answers {
        font-size: 4.5vw;
    }

    .questions h3 {
        font-size: 6vw;
    }

    #restart,
    #next {
        font-size: 4.5vw;
    }

    #how-to-play {
        font-size: 4vw;
        top: 80px;
    }

    #close-how-to {
        top: 75px;
        right: 20px;
    }
}

/* classes for manipulating with javascript */

input.disabled,
label.disabled {
    pointer-events: none;
}

.hidden {
    display: none;
}